Rek_StateMachine.json
{
    "Comment": "A state machine to automate User Generated Content policing.",
    "StartAt": "DetectLabels",
    "States": {
      "DetectLabels": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:292765368090:function:Rek_DetectLabels",
        "Next": "IsPersonFound"
      },
      "IsPersonFound": {
        "Type" : "Choice",
        "Choices": [
          {
            "Variable": "$.foo",
            "NumericEquals": 1,
            "Next": "PersonFound"
          },
          {
            "Variable": "$.foo",
            "NumericEquals": 2,
            "Next": "PersonNotFound"
          }
        ]
      },
      
      "IsCelebtrityDetected": {
        "Type" : "Choice",
        "Choices": [
          {
            "Variable": "$.foo",
            "NumericEquals": 1,
            "Next": "CelebrityDetected"
          },
          {
            "Variable": "$.foo",
            "NumericEquals": 2,
            "Next": "CelebrityNotDetected"
          }
        ]
      },
      
      "IsFaceProper": {
        "Type" : "Choice",
        "Choices": [
          {
            "Variable": "$.foo",
            "NumericEquals": 1,
            "Next": "FaceCheckSuccess"
          },
          {
            "Variable": "$.foo",
            "NumericEquals": 2,
            "Next": "FaceCheckFail"
          }
        ]
      },
      
        "CheckImageModeration": {
        "Type" : "Choice",
        "Choices": [
          {
            "Variable": "$.foo",
            "NumericEquals": 1,
            "Next": "ImageModerationSuccess"
          },
          {
            "Variable": "$.foo",
            "NumericEquals": 2,
            "Next": "ImageModerationFail"
          }
        ]
      },
      
      "CheckBlackList_Dups": {
        "Type" : "Choice",
        "Choices": [
          {
            "Variable": "$.foo",
            "NumericEquals": 1,
            "Next": "BlackList_DupsSuccess"
          },
          {
            "Variable": "$.foo",
            "NumericEquals": 2,
            "Next": "BlackList_DupsFail"
          }
        ]
      },
      
       "BlackList_DupsSuccess": {
        "Type" : "Pass",
        "Next": "ProcessSuccess"
      },
      
      "BlackList_DupsFail": {
        "Type" : "Pass",
        "Next": "ProcessFailure"
      },
      
       "ImageModerationSuccess": {
        "Type" : "Task",
        "Resource": "arn:aws:lambda:us-east-1:292765368090:function:Rek_ProcessImage",
        "Next": "CheckBlackList_Dups"
      },
      
       "ImageModerationFail": {
        "Type" : "Pass",
        "Next": "ProcessFailure"
      },
  
      "FaceCheckFail": {
        "Type" : "Pass",
        "Next": "ProcessFailure"
      },
      
       "CelebrityDetected": {
        "Type" : "Pass",
        "Next": "ProcessFailure"
      },
      
       "FaceCheckSuccess": {
        "Type" : "Task",
        "Resource": "arn:aws:lambda:us-east-1:292765368090:function:Rek_DetectModerationLabels",
        "Next": "CheckImageModeration"
      },
      
       "CelebrityNotDetected": {
        "Type" : "Task",
        "Resource": "arn:aws:lambda:us-east-1:292765368090:function:Rek_DetectFaces",
        "Next": "IsFaceProper"
      },
      
      "PersonFound": {
        "Type" : "Task",
        "Resource": "arn:aws:lambda:us-east-1:292765368090:function:Rek_RecognizeCelebrities",
        "Next": "IsCelebtrityDetected"
      },
      
      "PersonNotFound": {
        "Type" : "Pass",
        "Next": "ProcessFailure"
      },
  
    
      "ProcessFailure": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
        "End": true
      },
      
      "ProcessSuccess": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:292765368090:function:Rek_ProcessImage",
        "End": true
      }
    }
  }
  